.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* To center align text within the container */
  height: 100vh; /* Optional: Adjust this value based on your layout */
}


@media only screen and (max-width: 600px) {
  .container {
    padding: 20px;
  }

  #output {
    width: 100%;
  }
}
